@model IEnumerable<Lemaf.App.Models.ReservasViewModel>

@{
    ViewData["Title"] = "ReservasView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row mb-4">
    <div class="col-6">
        <a href="/" class="btn btn-md btn-primary">
            <i class="fa fa-arrow-circle-left">Voltar</i>
        </a>
    </div>
    <div class="col-6 text-right">
        <button class="btn btn-md btn-primary" onclick="Mudarestado('verJson')">Mostrar Json</button>
    </div>
    <div id="verJson" class="col-12" hidden>
        <textarea class="form-control mt-4" rows="6">@Html.Raw(Json.Serialize(Model))</textarea>
    </div>
</div>


<table class="table table-bordered table-hover table-sm mt-4">
    <thead class="thead-dark">
        <tr>
            <th>Data Início</th>
            <th>Data Final</th>
            <th>Sala</th>
            <th>Máximo Pessoas</th>
            <th>Computador</th>
            <th>Internet</th>
            <th>Tv e Webcam</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            @if (item.Informações.Equals("ok"))
            {
                <tr class="table-light">
                    <td>
                        @Html.DisplayFor(modelItem => item.DataInicio)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DataFinal)
                    </td>
                    <td class="text-center">
                        @Html.DisplayFor(modelItem => item.CodigoSala)
                    </td>
                    <td class="text-center">
                        @Html.DisplayFor(modelItem => item.Capacidade)
                    </td>
                    <td class="text-center">
                        @Html.DisplayFor(modelItem => item.PossuiComputador)
                    </td>
                    <td class="text-center">
                        @Html.DisplayFor(modelItem => item.PossuiInternet)
                    </td>
                    <td class="text-center">
                        @Html.DisplayFor(modelItem => item.PossuiTvWebcam)
                    </td>
                </tr>
            }
            else
            {
                <tr class="table-white">
                    <td>
                        @Html.DisplayFor(modelItem => item.DataInicio)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DataFinal)
                    </td>
                    <td colspan="5">@item.Informações</td>
                </tr>
            }
        }
    </tbody>
</table>

<script>
    function Mudarestado(el) {
        var display = document.getElementById(el).hidden;
        if (display)
            document.getElementById(el).hidden = false;
        else
            document.getElementById(el).hidden = true;
    }

</script>